@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-inner {
  --tw-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.095);
  --tw-shadow-colored: inset 1px 2px 4px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.animateopen {
  animation: pop-up 0.2s ease-in-out;
}

.animateexpand {
  animation: expand 0.2s ease-in-out;
}

@keyframes pop-up {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 80%;
  }
}
